<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="apiKey" value="{Your Primary or Secondary Key}"/>
    <add key="url" value="{Your Request-Response (remember to replace any '&' character with '&amp;')}"/>
  </appSettings>

</configuration>